
*{
    margin: 0;
    padding: 0;

}

#container{
    width: 600px;
    height: 700px;
    margin: auto;

    perspective: 1000px;
}

#book{
    width: 600px;
    height: 700px;
    margin: auto;

    transform-style: preserve-3d;
    
    transform: rotateY(5deg) rotateX(30deg);
    transition: all 1s;
    
}


.book{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    
    color: rgb(0, 0, 0,0);
}


#book-cover-first{
    width: 600px;
    height: 700px;
    background-color: #aaa69d;

    border-radius: 0 10px 10px 0;
    transform: translateZ(0px);

    color: #2c2c54;
    font-size: 50px;
    text-align: center;
    line-height: 500px;
}

#book-cover-end{
    width: 600px;
    height: 700px;
    background-color: #aaa69d;

    border-radius: 0 10px 10px 0;

    transform: translateZ(-100px);

}

#book-corner{
    width: 100px;
    height: 700px;
    background-color: #84817a;
    color: #2c2c54;
    text-align: center;
    line-height: 95px;
    font-size: 50px;
    writing-mode: vertical-rl;
    

    transform: rotateY(-90deg) translateX(-50px) translateZ(50px);
}

#book-side-bottom{
    width: 580px;
    height: 97px;
    background-color: #f7f1e3;

    transform: translateX(4px) translateY(640px) translateZ(-51px) rotateX(-90deg);
}


#book-side-top{
    width: 580px;
    height: 97px;
    background-color: #f7f1e3;

    transform: translateX(4px) translateY(-40px) translateZ(-51px) rotateX(-90deg);
}

#book-side-middle{
    width: 97px;
    height: 680px;
    background-color: #f7f1e3;

    transform: translateX(534px) translateY(10px) translateZ(-51px) rotateY(-90deg);
}
